<template>
  <dashboard-card
    :title="title"
    :subTitle="getFormatingBalance"
    :icons="icons"
    @icon-click="onIconClick"
  >
    <v-icon class="fas fa-wallet" dark="dark" slot="img"></v-icon>
  </dashboard-card>
</template>


<script lang="ts">
import {
  constants as ETHEREUM,
  IEthereuemState
} from "@store/modules/ethereum";
import { mapGetters, mapState, mapActions } from "vuex";
import DashboardCard from "@/layouts/dashboard/components/Card.vue";
import { Action, State, Getter } from "vuex-class";
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {
    DashboardCard
  }
})
export default class CardBalance extends Vue {
  title = "잔고";
  imgUrl = "https://cdn.vuetifyjs.com/images/cards/house.jpg";
  icons = [{ name: "sync", class: "fas fa-sync" }];

  @State(state => state.ethereum.balance) balance!: string | number;

  @Getter(ETHEREUM.GETTERS.GET_SYMBOL_BALANCE, { namespace: ETHEREUM.NAME })
  getFormatingBalance!: string;

  @Action(ETHEREUM.ACTIONS.REFRESH_BALANCE, { namespace: ETHEREUM.NAME })
  refreshBalance!: Function;

  onIconClick(index: number) {
    if (index === 0) {
      this.refreshBalance()
        .then(() => {
          alert("refresh");
        })
        .catch((err: any) => {
          alert(err);
        });
    }
  }
  created() {
    this.refreshBalance();
  }
}
</script>
