<template>
  <v-form>
    <v-layout wrap="wrap" row="row">
      <v-flex xs12="xs12" md6="md6">
        <v-container>
          <v-layout column="column">
            <h2>Type</h2>
            <v-select :items="items" solo="solo" v-model="select" v-on:change="selectChage"></v-select>
          </v-layout>
        </v-container>
        <v-flex xs12="xs12" md6="md6">
          <v-container>
            <v-layout column="column">
              <h2>액수</h2>
              <v-text-field solo="solo" color="blue-grey lighten-2" v-model="balance"></v-text-field>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12="xs12">
          <v-container class="fluid">
            <v-layout column="column">
              <h2>수신주소</h2>
              <v-text-field solo="solo" color="blue-grey lighten-2" v-model="to"></v-text-field>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12="xs12">
          <v-container text-xs-center="text-xs-center" fluid="fluid">
            <v-btn large="large" color="info" @click="sendTransaction">트랜젝션 발신</v-btn>
          </v-container>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script lang="ts">
import {
  constants as ETHEREUM,
  IEthereuemState
} from "@/store/modules/ethereum";
import { mapState, mapActions } from "vuex";
import { Vue, Component } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import { Contract } from "web3-eth-contract/types";

@Component
export default class FormTransaction extends Vue {
  items = ["eth", "meta"];
  to = "";
  balance = "0";
  select = "eth";

  @State(state => state.ethereum.contract)
  contract!: Contract;

  @Action(ETHEREUM.ACTIONS.SEND_COIN, { namespace: ETHEREUM.NAME })
  sendCoin!: Function;

  @Action(ETHEREUM.ACTIONS.REFRESH_BALANCE, { namespace: ETHEREUM.NAME })
  refreshBalance!: Function;

  @Action(ETHEREUM.ACTIONS.SET_IS_CONTRACT, { namespace: ETHEREUM.NAME })
  setIsContract!: Function;

  sendTransaction() {
    alert("send");
    this.sendCoin({
      to: this.to,
      value: this.balance
    })
      .then((hash: any) => {
        alert(hash);
        this.refreshBalance();
      })
      .catch((err: any) => {
        alert(err);
      });
  }
  async selectChage() {
    const isContract = this.select === "eth" ? false : true;
    await this.refreshBalance();
    await this.setIsContract(isContract);
  }
}
</script>
