<template>
  <v-form>
    <template v-if="!type">
      <v-btn block="block" color="success" @click="type='privateKey'">privateKey</v-btn>
      <v-btn block="block" color="primary" @click="metamaskClick">metamask</v-btn>
    </template>
    <template v-else-if="type=='privateKey'">
      <v-text-field v-model="key" prepend-icon="person" name="login" label="key" type="text"></v-text-field>
      <v-btn block="block" color="primary" @click="continueClick">continue</v-btn>
    </template>
  </v-form>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import { constants as ETHEREUM } from "@store/modules/ethereum";
import getWeb3 from "@/util/getWeb3";
import { Vue, Component } from "vue-property-decorator";
import { Action } from "vuex-class";

@Component
export default class UserSelectWallet extends Vue {
  key: string = "";
  loading: boolean = false;
  error = {
    isVisible: false,
    message: ""
  };
  type: string = "";

  @Action(ETHEREUM.ACTIONS.INIT, { namespace: ETHEREUM.NAME })
  etherInit!: Function;

  @Action(ETHEREUM.ACTIONS.REFRESH_BALANCE, { namespace: ETHEREUM.NAME })
  refereshBalance!: Function;

  async metamaskClick() {
    this.type = "metamask";
    let web3 = await getWeb3({ type: this.type });
    this.etherInit(web3);
    this.$router.push("dashboard");
  }

  async continueClick() {
    let web3 = await getWeb3({
      type: this.type,
      privateKey: this.key
    });
    this.etherInit(web3);
    this.$router.push("dashboard");
  }
}
</script>

<style lang="scss">
</style>
