<template>
  <v-form @submit.prevent="onSubmit">
    <v-text-field v-model="email" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
    <v-text-field
      id="password"
      v-model="password"
      prepend-icon="lock"
      name="password"
      label="Password"
      type="password"
    ></v-text-field>
    <v-alert :value="error.isVisible" color="error">{{ error.message }}</v-alert>
    <v-card>
      <v-btn :loading="loading" :disable="loading" block="block" color="primary" type="submit">Login</v-btn>
      <v-btn @click="signupClick" color="warning" block>Sginup</v-btn>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import { LOGIN_USER_MUTATION } from "@/constants/graphql";
import { mapActions } from "vuex";
import { constants as USER } from "@/store/modules/user";
import { Component, Vue, Emit } from "vue-property-decorator";

@Component({
  methods: {
    ...mapActions(USER.NAME, [USER.ACTIONS.SET_TOKEN])
  }
})
export default class UserLoginForm extends Vue {
  email = "";
  password = "";
  loading = false;
  error = {
    isVisible: false,
    message: ""
  };

  @Emit("signup-click")
  signupClick() {}

  async onSubmit() {
    const { email, password } = this;
    let { loading, error } = this;

    if (loading) return;
    loading = true;

    try {
      const response = await this.$apollo.mutate({
        mutation: LOGIN_USER_MUTATION,
        variables: {
          email,
          password
        }
      });

      (<any>this)[USER.ACTIONS.SET_TOKEN](response.data.login);
      this.$emit("event-login");
    } catch (err) {
      this.error.isVisible = true;
      this.error.message = err.graphQLErrors[0].message;
    } finally {
      loading = false;
    }
  }
}
</script>
