<template>
  <v-form @submit.prevent="onSubmit">
    <v-card>
      <v-card-title>
        <span class="headline">Signup</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md></v-container>
        <v-layout wrap>
          <v-flex xs12="xs12"></v-flex>
          <v-text-field v-model="email" label="Email" name="email" required="required"></v-text-field>
          <v-flex xs12="xs12"></v-flex>
          <v-text-field v-model="username" label="Username" name="username" required="required"></v-text-field>
          <v-flex xs12="xs12"></v-flex>
          <v-text-field
            v-model="password"
            label="Password*"
            name="password"
            type="password"
            required
          ></v-text-field>
          <v-flex xs12="xs12"></v-flex>
          <v-text-field
            v-model="passwordVerify"
            label="Password*"
            name="passwordVerify"
            type="password"
            required
          ></v-text-field>
        </v-layout>
        <small>*indicates required field</small>
        <v-alert :value="error.isVisible" color="error">{{ error.message }}</v-alert>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click="onCancelClick">cancel</v-btn>
        <v-btn color="blue darken-1" flat type="submit">submit</v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import { CREATE_USER_MUTATION } from "@/constants/graphql";
import { mapActions } from "vuex";
import { constants as USER } from "@/store/modules/user";
import { Vue, Component } from "vue-property-decorator";
import { Action } from "vuex-class";

@Component
export default class USErSignupForm extends Vue {
  email = "";
  username = "";
  password = "";
  passwordVerify = "";
  error = {
    isVisible: false,
    message: ""
  };

  @Action(USER.ACTIONS.SET_TOKEN, { namespace: USER.NAME }) setToken: any;

  onCancelClick() {
    this.$emit("event-cancel");
  }

  async onSubmit() {
    const { email, username, password, passwordVerify } = this;

    if (password !== passwordVerify) {
      this.onError("비밀번호와 비밀번호 확인이 서로 매치되지 않습니다.");
      return;
    }

    try {
      const response = await this.$apollo.mutate({
        mutation: CREATE_USER_MUTATION,
        variables: {
          email,
          username,
          password
        }
      });

      this.setToken(response.data.signup);

      this.$emit("event-signup");
      return Promise.resolve();
    } catch (err) {
      this.onError(err.graphQLErrors[0].message);
      return Promise.reject();
    }
  }

  onError(message: string) {
    this.error.isVisible = true;
    this.error.message = message;
  }
}
</script>

<style lang="sass" scoped>

</style>
