<template lang="pug">
<v-app>
    <slot name="drawer"></slot>
    <v-content>
        <slot name="toolbar"></slot>
        <slot name="view"></slot>
    </v-content>
</v-app>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>
