<template>
  <v-flex xs6="xs6">
    <v-card class="white--text" color="blue-grey darken-2">
      <v-container>
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <slot name="img"></slot>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              <h3>{{title}}</h3>
            </v-list-tile-title>
            <v-list-tile-sub-title>{{subTitle}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-card-actions>
          <v-tooltip bottom="bottom" v-for="(icon,index) in icons" :key="index">
            <template v-slot:activator="{ on }">
              <v-btn dark="dark" icon="icon" @click="onClick(index)">
                <v-icon :class="icon.class" v-on="on"></v-icon>
              </v-btn>
            </template>
            <span>{{icon.name}}</span>
          </v-tooltip>
        </v-card-actions>
      </v-container>
    </v-card>
  </v-flex>
</template>


<script>
export default {
  name: "dashboard-card",
  props: ["title", "subTitle", "icons"],
  methods: {
    onClick: function(index) {
      this.$emit("icon-click", index);
    }
  }
};
</script>