<template>
  <dashboard>
    <dashboard-filter slot="filter"/>
    <dashboard-toolbar slot="toolbar"/>
    <dashboard-drawer slot="drawer"/>
    <router-view slot="view"/>
  </dashboard>
</template>

<script lang="ts">
import Layout from "@layouts/dashboard/Layout.vue";
import Filter from "../layouts/dashboard/Filter.vue";
import Drawer from "../components/dashboard/Drawer.vue";
import Toolbar from "../components/dashboard/Toolbar.vue";
import { mapState, mapActions } from "vuex";
import axios from "axios";
import { Vue, Component } from "vue-property-decorator";
import { State, Action } from "vuex-class";

@Component({
  components: {
    dashboard: Layout,
    "dashboard-filter": Filter,
    "dashboard-drawer": Drawer,
    "dashboard-toolbar": Toolbar
  }
})
export default class Dashboard extends Vue {
  created() {}
}
</script> 


