<template>
  <v-app>
    <v-content>
      <v-container fluid="fluid" fill-height="fill-height">
        <v-layout align-center="align-center" justify-center="justify-center">
          <v-stepper v-model="step">
            <v-stepper-header>
              <v-stepper-step :complete="step &gt; 1" step="1">로그인</v-stepper-step>
              <v-divider></v-divider>
            </v-stepper-header>
            <v-stepper-items>
              <v-stepper-content step="1">
                <user-login-form @event-login="nextStep" @signup-click="dialog=true"></user-login-form>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-layout>
        <v-dialog v-model="dialog" persistent max-width="600px">
          <user-signup-form @event-cancel="onSignupCancel" @event-signup="nextStep"></user-signup-form>
        </v-dialog>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import UserLoginForm from "@/components/users/UserLoginForm.vue";
import UserSignupForm from "@/components/users/UserSignupForm.vue";
import UserSelectWallet from "@/components/users/UserSelectWallet.vue";
import { Vue, Component } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/user/constants";
@Component({
  components: {
    UserLoginForm,
    UserSignupForm,
    UserSelectWallet
  }
})
export default class Login extends Vue {
  dialog = false;
  step = 0;

  @Action(ACTIONS.GET_TOKEN, { namespace: NAME })
  getToken!: Function;

  nextStep() {
    this.dialog = false;
    this.goToDashboard();
  }
  onSignupCancel() {
    this.dialog = false;
  }
  goToDashboard() {
    this.$router.push("main");
  }

  async created() {
    this.$apollo.provider.defaultClient.clearStore();
    if (await this.getToken()) this.goToDashboard();
  }
}
</script>


<style lang="scss">
.v-stepper {
  min-width: 500px;
  width: 30%;
}
</style>
