<template>
  <v-app>
    <v-toolbar>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat @click="all">전체</v-btn>
        <v-btn flat @click="recommands">추천 관광지</v-btn>
        <v-btn flat @click="my">내정보</v-btn>
        <v-btn flat @click="logout">Logout</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <router-view/>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import TourVote from "@components/TourVote.vue";
@Component({})
export default class TourVotes extends Vue {
  copied = false;
  page = 0;
  //dialog = false;
  pageLoading = true;

  logout() {
    this.$router.push("/logout");
  }

  async recommands() {
    if (this.$router.currentRoute.name === "recommands") return;
    await this.$apollo.provider.defaultClient.clearStore();
    this.$router.push("/main/recommands");
  }

  async all() {
    if (this.$router.currentRoute.name === "tourvotes") return;

    await this.$apollo.provider.defaultClient.clearStore();
    this.$router.push("/main");
  }

  async my() {
    this.$router.push("/main/my");
  }
}
</script>


<style lang="scss">
.v-stepper {
  min-width: 500px;
  width: 30%;
}
</style>
