<template>
  <v-app>
    <v-toolbar>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat>추천 관광지</v-btn>
        <v-btn flat>내정보</v-btn>
        <v-btn flat @click="logout">Logout</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-item-group>
        <v-container grid-list-md>
          <v-layout wrap v-scroll="onScroll">
            <v-flex
              v-for="touristDestination in touristDestinations"
              :key="touristDestination._id"
              xs12
              md4
            >
              <TourVote :touristDestination="touristDestination"></TourVote>
            </v-flex>
          </v-layout>
        </v-container>
      </v-item-group>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/user/constants";
import { ITouristDestination } from "@store/modules/user/types";
import { VOTES, TOURIST_DESTINATIONS } from "@constants/graphql";
import TourVote from "@components/TourVote.vue";
@Component({
  apollo: {
    touristDestinations: {
      query: TOURIST_DESTINATIONS,
      variables() {
        return {
          page: 0
        };
      }
    }
  },
  components: {
    TourVote
  }
})
export default class TourVotes extends Vue {
  copied = false;
  page = 0;
  //dialog = false;
  pageLoading = true;

  setRating(_id: string) {}

  getRating() {
    alert("adasd");
  }

  logout() {
    this.$router.push("/logout");
  }

  copy() {
    const markup = this.$refs.link;
    (<any>markup).focus();
    document.execCommand("selectAll", false, undefined);
    this.copied = document.execCommand("copy");
  }

  onScroll(e: any) {
    if (
      window.pageYOffset + window.innerHeight + 30 >
      document.body.offsetHeight
    ) {
      if (!this.pageLoading) return;

      this.pageLoading = false;
      this.reFetch();
    }
    // console.log(window.pageYOffset);
    // console.log(window.innerHeight);
    // console.log(document.body.offsetHeight);
  }

  async reFetch() {
    this.page++;

    await this.$apollo.queries.touristDestinations.fetchMore({
      variables: {
        page: this.page
      },
      updateQuery: (previousResult, { fetchMoreResult }) => {
        return {
          touristDestinations: [
            ...previousResult.touristDestinations,
            ...fetchMoreResult.touristDestinations
          ]
        };
      }
    });

    this.pageLoading = true;
  }

  created() {
    window.addEventListener("scroll", this.onScroll);
  }

  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  }
}
</script>


<style lang="scss">
.v-stepper {
  min-width: 500px;
  width: 30%;
}
</style>
