<template>
  <v-form>
    <v-layout wrap="wrap" row="row">
      <v-flex xs12="xs12">
        <v-container>
          <v-layout column="column">
            <h2>이름</h2>
            <v-text-field solo="solo" color="blue-grey lighten-2" v-model="name"></v-text-field>
          </v-layout>
        </v-container>
        <v-flex xs12="xs12">
          <v-container text-xs-center="text-xs-center" fluid="fluid">
            <v-btn large="large" color="info" @click="insert">등록</v-btn>
          </v-container>
        </v-flex>
      </v-flex>

      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-list two-line subheader>
            <v-list-tile v-for="item in tourTypes" :key="item.name" avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ item.code }}</v-list-tile-sub-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-btn icon ripple @click="remove(item._id)">
                  <v-icon color="grey lighten-1">delete</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script lang="ts">
import {
  constants as ETHEREUM,
  IEthereuemState
} from "@/store/modules/ethereum";
import { mapState, mapActions } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import {
  ITouristDestination,
  TouristDestination
} from "@store/modules/user/types";

import {
  CREATE_TOUR_TYPE,
  TOUR_TYPES,
  DELETE_TOUR_TYPE
} from "@constants/graphql";

@Component({
  apollo: {
    tourTypes: {
      query: TOUR_TYPES
    }
  }
})
export default class InsertForm extends Vue {
  name = "";

  async insert() {
    try {
      const response = await this.$apollo.mutate({
        mutation: CREATE_TOUR_TYPE,
        variables: {
          name: this.name
        }
      });

      if (response.data.insertTourType) {
        this.$apollo.queries.tourTypes.refetch();
      }
    } catch (err) {
      // this.error.isVisible = true;
      // this.error.message = err.graphQLErrors[0].message;
    } finally {
      //loading = false;
    }
  }

  async remove(_id: string) {
    try {
      const response = await this.$apollo.mutate({
        mutation: DELETE_TOUR_TYPE,
        variables: {
          _id: _id
        }
      });

      if (response.data.deleteTourType) {
        this.$apollo.queries.tourTypes.refetch();
      }
    } catch (err) {}
  }
}
</script>
