<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Line, Bar } from "vue-chartjs";

@Component({
  extends: Bar
})
export default class BarChart extends Vue {
  @Prop() private scores!: [];
  @Prop() private labels!: [];

  mounted() {
    (<any>this).renderChart(
      {
        labels: this.labels,
        datasets: [
          {
            label: "별점 그래프",
            backgroundColor: "#f87979",
            data: this.scores
          }
        ]
      },
      {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        }
      }
    );
  }
}
</script>
