<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Line } from "vue-chartjs";

@Component({
  extends: Line
})
export default class LineChart extends Vue {
  datacollection: any = {
    labels: [
      "January",
      "February",
      "March",
      "April",
      "May",
      "June",
      "July",
      "August",
      "September",
      "October",
      "November",
      "December"
    ],
    datasets: [
      {
        label: "Data One",
        backgroundColor: "#f87979",
        pointBackgroundColor: "white",
        borderWidth: 1,
        pointBorderColor: "#249EBF",
        //Data to be represented on y-axis
        data: [40, 20, 30, 50, 90, 10, 20, 40, 50, 70, 90, 100]
      }
    ]
  };

  options: any = {
    scales: {
      yAxes: [
        {
          ticks: {
            beginAtZero: true
          },
          gridLines: {
            display: true
          }
        }
      ],
      xAxes: [
        {
          gridLines: {
            display: false
          }
        }
      ]
    },
    legend: {
      display: true
    },
    responsive: true,
    maintainAspectRatio: false
  };

  mounted() {
    (<any>this).renderChart(this.datacollection, this.options);
  }
}
</script>
