<template>
  <v-layout column>
    <v-container fluid>
      <v-card class="mx-auto">
        <v-card-title>
          <v-layout row>
            <v-flex xs4>
              <div>
                <span class="headline">평가수 {{my.votes.length}}</span>
              </div>
            </v-flex>
            <v-flex>
              <div>
                <span class="headline">평균 {{my.averageScore.toFixed(1)}}</span>
              </div>
            </v-flex>
            <v-flex>
              <div>
                <span class="headline">많이준 별점 {{my.higherScore}}</span>
              </div>
            </v-flex>
          </v-layout>
        </v-card-title>
        <v-divider/>
        <v-container>
          <BarChart
            v-if="my.scores"
            :width="300"
            :height="300"
            :labels="labels"
            :scores="my.scores"
          />
        </v-container>
        <v-card-actions>
          <v-flex xs12 sm6 offset-sm3>
            <v-card>
              <div>
                <span class="headline">선호태그</span>
              </div>
              <v-list two-line subheader>
                <v-list-tile v-for="item in my.words" :key="item[0]" avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item[0] }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ item[1] }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-container>
  </v-layout>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Getter, Action, State } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/user/constants";
import {
  ITouristDestination,
  TouristDestination,
  InputTouristDestination
} from "@store/modules/user/types";
import { MY } from "@constants/graphql";

import BarChart from "./BarChart.vue";
import TourDetail from "./TourDetail.vue";

@Component({
  apollo: {
    my: {
      query: MY
    }
  },
  components: {
    BarChart
  }
})
export default class TourVote extends Vue {
  @State(state => state.users._id)
  _id!: string;

  @State(state => state.users.username)
  username!: string;

  labels = ["0", "0.5", "1", "1.5", "2", "2.5", "3", "3.5", "4", "4.5", "5"];
  click() {}

  reviews = 413;
  value = 4.5;

  created() {}
}
</script>


<style lang="scss">
.v-stepper {
  min-width: 500px;
  width: 30%;
}
</style>
