<template>
  <v-content>
    <v-item-group>
      <v-container grid-list-md>
        <v-layout wrap v-scroll="onScroll">
          <v-flex
            v-for="touristDestination in predictionVotes"
            :key="touristDestination._id"
            xs12
            md4
          >
            <TourVote :touristDestination="touristDestination"></TourVote>
          </v-flex>
        </v-layout>
      </v-container>
    </v-item-group>
  </v-content>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Getter, Action } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/user/constants";
import { ITouristDestination } from "@store/modules/user/types";
import { VOTES, PREDICTION_VOTES } from "@constants/graphql";
import TourVote from "@components/TourVote.vue";
@Component({
  apollo: {
    predictionVotes: {
      query: PREDICTION_VOTES,
      variables() {
        return {
          page: 0
        };
      }
    }
  },
  components: {
    TourVote
  }
})
export default class TourVotes extends Vue {
  copied = false;
  page = 0;
  //dialog = false;
  pageLoading = true;

  logout() {
    this.$router.push("/logout");
  }

  copy() {
    const markup = this.$refs.link;
    (<any>markup).focus();
    document.execCommand("selectAll", false, undefined);
    this.copied = document.execCommand("copy");
  }

  onScroll(e: any) {
    if (
      window.pageYOffset + window.innerHeight + 30 >
      document.body.offsetHeight
    ) {
      if (!this.pageLoading) return;

      this.pageLoading = false;
      this.reFetch();
    }
    // console.log(window.pageYOffset);
    // console.log(window.innerHeight);
    // console.log(document.body.offsetHeight);
  }

  async reFetch() {
    this.page++;

    await this.$apollo.queries.predictionVotes.fetchMore({
      variables: {
        page: this.page
      },
      updateQuery: (previousResult, { fetchMoreResult }) => {
        return {
          predictionVotes: [
            ...previousResult.predictionVotes,
            ...fetchMoreResult.predictionVotes
          ]
        };
      }
    });

    this.pageLoading = true;
  }

  created() {
    window.addEventListener("scroll", this.onScroll);
  }

  destroyed() {
    window.removeEventListener("scroll", this.onScroll);
  }
}
</script>


<style lang="scss">
.v-stepper {
  min-width: 500px;
  width: 30%;
}
</style>
