<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>{{touristDestination.name}}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="onClose">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-list three-line subheader>
          <v-container>
            <BarChart
              v-if="touristDestinationCores"
              :labels="['1', '2', '3', '4', '5']"
              :scores="touristDestinationCores"
            />
          </v-container>
          <!-- <v-subheader>User Controls</v-subheader>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title>Content filtering</v-list-tile-title>
              <v-list-tile-sub-title>Set the content filtering level to restrict apps that can be downloaded</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-list-tile-title>Password</v-list-tile-title>
              <v-list-tile-sub-title>Require password for purchase or use password to restrict purchase</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list three-line subheader>
          <v-subheader>General</v-subheader>
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-checkbox v-model="notifications"></v-checkbox>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Notifications</v-list-tile-title>
              <v-list-tile-sub-title>Notify me about updates to apps or games that I downloaded</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-checkbox v-model="sound"></v-checkbox>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Sound</v-list-tile-title>
              <v-list-tile-sub-title>Auto-update apps at any time. Data charges may apply</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-action>
              <v-checkbox v-model="widgets"></v-checkbox>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Auto-add widgets</v-list-tile-title>
              <v-list-tile-sub-title>Automatically add home screen widgets</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>-->
        </v-list>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { TouristDestination } from "../store/modules/user/types";
import BarChart from "./BarChart.vue";
import { TOURIRST_DESTINATION_SCORES } from "@constants/graphql";

@Component({
  components: {
    BarChart
  },
  apollo: {
    touristDestinationCores: {
      query: TOURIRST_DESTINATION_SCORES,
      variables() {
        return {
          id: this.touristDestination._id
        };
      }
    }
  }
})
export default class TourDetail extends Vue {
  @Prop({ default: false }) private dialog!: boolean;
  @Prop({ default: new TouristDestination() })
  private touristDestination!: TouristDestination;

  notifications = false;
  sound = true;
  widgets = false;

  onClose() {
    this.$emit("onClose");
  }
}
</script>