<template>
  <v-card class="mx-auto hide-overflow" style="max-width: 600px;">
    <div @click="click">
      <v-layout>
        <v-img
          height="250px"
          :src="touristDestination.file.path +'/'+ touristDestination.file.filename"
        ></v-img>
      </v-layout>
      <v-card-title @click="click">
        <div>
          <span class="headline">{{touristDestination.name}}</span>
          <v-layout row>
            <v-flex xs6>
              <div class>{{touristDestination.tourType.name}}</div>
            </v-flex>
            <v-flex xs6>
              <div class>{{touristDestination.city}}</div>
            </v-flex>
          </v-layout>

          <div class>인스타 태그수: {{touristDestination.tagCount}}</div>
        </div>
        <v-spacer></v-spacer>
      </v-card-title>
    </div>

    <v-divider></v-divider>
    <v-card-actions>
      <span
        class="pl-2 grey--text text--darken-2 font-weight-light caption"
      >{{averageVote.toFixed(1)}} 평점</span>
      <span
        v-if="predictionVote"
        class="pl-2 red--text text--darken-2 font-weight-light caption"
      >{{predictionVote.score.toFixed(1)}} 예상</span>
      <v-spacer></v-spacer>
      <v-rating
        v-model="vote.score"
        half-increments
        hover
        v-on:input="changeRating"
        background-color="orange lighten-3"
        color="orange"
      ></v-rating>
      <TourDetail
        :touristDestination="touristDestination"
        :dialog="dialog"
        v-on:onClose="dialog=false"
      />
    </v-card-actions>
    <!-- <div class="pa-3 pt-0 caption">
      <span
        class="pl-2 grey--text text--darken-2 font-weight-light caption"
      >{{touristDestination.tagCount}}</span>
    </div>-->
  </v-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Getter, Action, State } from "vuex-class";
import { ACTIONS, NAME } from "@store/modules/user/constants";
import { VOTES, TOURIST_DESTINATIONS } from "@constants/graphql";
import {
  ITouristDestination,
  TouristDestination,
  InputTouristDestination
} from "@store/modules/user/types";
import {
  ADD_VOTE,
  VOTE,
  AVERAGE_VOTE,
  PREDICTION_VOTE
} from "@constants/graphql";

import BarChart from "./BarChart.vue";
import TourDetail from "./TourDetail.vue";

@Component({
  apollo: {
    vote: {
      query: VOTE,
      variables() {
        return {
          touristDestination_id: this.touristDestination._id
        };
      }
    },
    averageVote: {
      query: AVERAGE_VOTE,
      variables() {
        return {
          id: this.touristDestination._id
        };
      }
    },
    predictionVote: {
      query: PREDICTION_VOTE,
      variables() {
        return {
          touristDestination_id: this.touristDestination._id
        };
      }
    }
  },
  components: {
    BarChart,
    TourDetail
  }
})
export default class TourVote extends Vue {
  @Prop({ default: new TouristDestination() })
  private touristDestination!: TouristDestination;

  @State(state => state.users._id)
  _id!: string;

  changeRating(val: any) {
    this.addVote(val);
  }

  vote = {
    score: 0
  };

  dialog = false;

  click() {
    this.dialog = true;
  }
  averageVote: number = 0;
  predictionVote: any;

  async addVote(rating: Number) {
    try {
      const result = await this.$apollo.mutate({
        mutation: ADD_VOTE,
        variables: {
          touristDestination_id: this.touristDestination._id,
          score: rating
        }
      });

      this.$apollo.queries.vote.refetch();
      this.predictionVote = undefined;
      this.$apollo.queries.averageVote.refetch();
    } catch (err) {}
  }

  created() {}
}
</script>


<style lang="scss">
.v-stepper {
  min-width: 500px;
  width: 30%;
}
</style>
