<template>
  <v-form>
    <v-text-field hidden v-model="inputTouristDetination._id"/>
    <v-text-field hidden v-model="inputTouristDetination.file"/>
    <v-layout wrap="wrap" row="row">
      <v-flex xs12="xs12">
        <v-container>
          <v-layout column="column">
            <h2>관광지명</h2>
            <v-text-field
              solo="solo"
              color="blue-grey lighten-2"
              v-model="inputTouristDetination.name"
            ></v-text-field>
          </v-layout>
        </v-container>
        <v-flex xs12="xs12">
          <v-container>
            <v-layout column="column">
              <h2>시도</h2>
              <v-text-field
                solo="solo"
                color="blue-grey lighten-2"
                v-model="inputTouristDetination.city"
              ></v-text-field>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12="xs12">
          <v-container class="fluid">
            <v-layout column="column">
              <h2>지역</h2>
              <v-text-field
                solo="solo"
                color="blue-grey lighten-2"
                v-model="inputTouristDetination.location"
              ></v-text-field>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12="xs12">
          <v-container class="fluid">
            <v-layout column="column">
              <h2>이미지</h2>
              <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                <img :src="imageUrl" height="150" v-if="imageUrl">
                <v-text-field
                  label="Select Image"
                  @click="pickFile"
                  v-model="imageName"
                  prepend-icon="attach_file"
                ></v-text-field>
                <input
                  type="file"
                  style="display: none"
                  ref="image"
                  accept="image/*"
                  @change="onFilePicked"
                >
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12="xs12">
          <v-container class="fluid">
            <v-layout column="column">
              <h2>관광지유형</h2>
              <v-select
                :items="tourTypes"
                solo="solo"
                item-text="name"
                item-value="_id"
                v-model="inputTouristDetination.tourType"
              ></v-select>
            </v-layout>
          </v-container>
        </v-flex>
        <v-flex xs12="xs12">
          <v-container text-xs-center="text-xs-center" fluid="fluid">
            <v-btn large="large" color="info" @click="insert">등록</v-btn>
          </v-container>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script lang="ts">
import {
  constants as ETHEREUM,
  IEthereuemState
} from "@/store/modules/ethereum";
import { mapState, mapActions } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import {
  ITouristDestination,
  TouristDestination,
  InputTouristDestination
} from "@store/modules/user/types";
import {
  TOUR_TYPES,
  FILE_SINGLE_UPLOAD,
  CREATE_TOURIST_DESTINATION
} from "@constants/graphql";

@Component({
  apollo: {
    tourTypes: {
      query: TOUR_TYPES
    }
  }
})
export default class InsertForm extends Vue {
  @Prop({ default: new InputTouristDestination() })
  private inputTouristDetination!: InputTouristDestination;

  imageName = "";
  imageUrl = "";
  imageFile = "";
  pickFile() {
    (<any>this.$refs.image).click();
  }

  async insert() {
    try {
      const response = await this.$apollo.mutate({
        mutation: CREATE_TOURIST_DESTINATION,
        variables: {
          touristDestination: this.inputTouristDetination
        }
      });

      alert("success!!");
    } catch (err) {}
  }

  onFilePicked(e: any) {
    const files = e.target.files;
    if (files[0] !== undefined) {
      this.imageName = files[0].name;
      if (this.imageName.lastIndexOf(".") <= 0) {
        return;
      }
      const fr = new FileReader();
      fr.readAsDataURL(files[0]);
      fr.addEventListener("load", async () => {
        this.imageUrl = <string>fr.result;
        this.imageFile = files[0]; // this is an image file that can be sent to server...
        console.log(files[0]);
        const response = await this.$apollo.mutate({
          mutation: FILE_SINGLE_UPLOAD,
          variables: {
            file: files[0]
          }
        });

        this.inputTouristDetination.file = response.data.singleUpload._id;
      });
    } else {
      this.imageName = "";
      this.imageFile = "";
      this.imageUrl = "";
    }
  }
}
</script>
