<template>
  <v-layout wrap="wrap">
    <v-container class="grey lighten-4" fluid="fluid">
      <v-card>
        <v-container fluid="fluid" grid-list-md="grid-list-md">
          <v-layout row="row" wrap="wrap">
            <CardWallet
              @wallet-copy="walletCopyToClipboard"
              :onDialog="onDialog"
              :walletAddress="walletAddress"
            ></CardWallet>
            <CardBalance></CardBalance>
          </v-layout>
        </v-container>
      </v-card>
    </v-container>
    <v-container class="grey lighten-4" fluid="fluid">
      <v-card>
        <v-container class="grid-list-md fluid">
          <FormTransaction></FormTransaction>
        </v-container>
      </v-card>
    </v-container>
    <v-snackbar v-model="snackbar.visible" bottom="bottom" :timeout="600">
      {{snackbar.message}}
      <v-btn color="pink" flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-dialog v-model="dialog" width="400">
      <v-card>
        <v-card-title class="grey lighten-2" headline="headline">
          <h2>Adress</h2>
        </v-card-title>
        <v-container text-xs-center="text-xs-center" fluid="fluid">
          <qrcode-vue id="qrcode-vue" :value="walletAddress" :size="100" level="H"></qrcode-vue>
          <v-card-text>{{walletAddress}}</v-card-text>
          <v-btn color="primary" flat="flat" @click="walletCopyToClipboard">Copy</v-btn>
        </v-container>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script lang="ts">
import {
  IEthereuemState,
  constants as ETHEREUM
} from "@/store/modules/ethereum";
import {
  constants as DASHBOARD,
  IDashboardState
} from "@/store/modules/dashboard";
import ethereum from "@store/modules/ethereum";
import CardWallet from "./send/CardWallet.vue";
import CardBalance from "./send/CardBalance.vue";
import QrcodeVue from "qrcode.vue";
import FormTransaction from "./send/FormTransaction.vue";
import { clipboardCopyMixin } from "@/mixins";
import { Component, Prop, Vue, Mixins } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import { Contract } from "web3-eth-contract/types";

@Component({
  components: {
    CardWallet,
    QrcodeVue,
    CardBalance,
    FormTransaction
  }
})
export default class Send extends Mixins(clipboardCopyMixin) {
  dialog = false;

  @State(state => state.dashboard.snackbar)
  snackbar!: any;

  @State(state => state.ethereum.coinbase)
  walletAddress!: string;

  @State(state => state.ethereum.contract)
  contract?: Contract;

  @Action(DASHBOARD.ACTIONS.SET_ON_SNACKBAR, { namespace: DASHBOARD.NAME })
  setOnSackbar!: Function;

  @Action(ETHEREUM.ACTIONS.REFRESH_BALANCE, { namespace: ETHEREUM.NAME })
  refreshBalance!: Function;

  walletCopyToClipboard() {
    this.doClipboardCopy(this.walletAddress);
    this.setOnSackbar({
      visible: true,
      message: "복사되었습니다."
    });
  }

  onDialog() {
    this.dialog = true;
  }
}
</script>


<style lang="scss" scoped>
#qrcode-vue {
  text-align: center;
  padding: 10px;
}
</style>
