<template>
  <v-layout wrap="wrap">
    <v-container class="grey lighten-4" fluid="fluid">
      <v-card>
        <v-container class="grid-list-md fluid">
          <insert-form></insert-form>
        </v-container>
      </v-card>
    </v-container>
    <v-snackbar v-model="snackbar.visible" bottom="bottom" :timeout="600">
      {{snackbar.message}}
      <v-btn color="pink" flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script lang="ts">
import {
  constants as DASHBOARD,
  IDashboardState
} from "@/store/modules/dashboard";
import { clipboardCopyMixin } from "@/mixins";
import { Component, Prop, Vue, Mixins } from "vue-property-decorator";
import { State, Action } from "vuex-class";
import InsertForm from "./tourType/InsertForm.vue";
import { TouristDestination } from "@store/modules/user/types";

@Component({
  components: {
    "insert-form": InsertForm
  }
})
export default class TourType extends Vue {
  dialog = false;

  @State(state => state.dashboard.snackbar)
  snackbar!: any;

  onDialog() {
    this.dialog = true;
  }

  created() {}
}
</script>


<style lang="scss" scoped>
#qrcode-vue {
  text-align: center;
  padding: 10px;
}
</style>
