<template>
  <DashboardDraw
    :items="items"
    :imageUrl="imageUrl"
    :username="name"
    :visible="drawerVisible"
    @visible-changed="drawerVisibleChange"
  ></DashboardDraw>
</template>


<script lang="ts">
import DashboardDraw from "@layouts/dashboard/Drawer.vue";
import { mapState, mapActions } from "vuex";
import {
  constants as DASHBOARD,
  IDashboardState
} from "@store/modules/dashboard";
import { Vue, Component } from "vue-property-decorator";
import { Action, State } from "vuex-class";

const { ACTIONS } = DASHBOARD;

@Component({
  components: {
    DashboardDraw
  }
})
export default class Drawer extends Vue {
  items = [
    { title: "광관지", icon: "dashboard", to: "/admin/tourist" },
    { title: "투어타입", icon: "question_answer", to: "/admin/tourtype" },
    { title: "기능", icon: "dashboard", to: "/admin" }
  ];
  imageUrl = "https://randomuser.me/api/portraits/men/85.jpg";
  name = "ksin";

  @State(state => state.dashboard.drawerVisible)
  drawerVisible!: boolean;

  @Action(DASHBOARD.ACTIONS.DRAWER_VISIBLE_CHANGE, {
    namespace: DASHBOARD.NAME
  })
  drawerVisibleChange!: Function;
}
</script>
