<template>
  <DashboardToolbar :title="title" @event-sidebar-click="drawerVisibleChage">
    <v-btn icon>
      <v-icon @click="logoutClick">person</v-icon>
    </v-btn>
  </DashboardToolbar>
</template>


<script lang="ts">
import DashboardToolbar from "../../layouts/dashboard/Toolbar.vue";
import {
  constants as DASHBOARD,
  IDashboardState
} from "@store/modules/dashboard";

import { constants as USER, IUserState } from "@store/modules/user";

import { State, Action } from "vuex-class";
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {
    DashboardToolbar
  }
})
export default class Toolbar extends Vue {
  title = "title";

  @State(state => state.dashboard.drawerVisible)
  drawerVisible!: boolean;

  @Action(DASHBOARD.ACTIONS.DRAWER_VISIBLE_CHANGE, {
    namespace: DASHBOARD.NAME
  })
  drawerVisibleChage!: Function;

  @Action(USER.ACTIONS.DELETE_TOKEN, {
    namespace: USER.NAME
  })
  logout!: Function;

  logoutClick() {
    this.logout();
    this.$router.push("/");
  }
}
</script>